.App {
  width: 90%;
  margin: auto;
}

.song {
  border-bottom: 1px solid gray;
  padding: 1em;
  text-align: left;
  display: flex;
}

.song:first-child {
  border-top: 1px solid gray;
}

.song-info {
  flex-grow: 3;
}

.song-info h4,
.song-info h5 {
  margin-top: 0;
  margin-bottom: 0;
}

.song-info h5 {
  font-weight: normal;
  margin-top: 3px;
}


.song-number {
  width: 5%;
}

.song-name {
  width: 90%;
}

.song-length {
  width: 5%;
}

.album-cover-container {
  width: 30%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  /* position: fixed; */
}

.album-cover-container img {
  width: 100%;
  height: 100%;
}

.album-info-songs-wrapper {
  display: inline-block;
  width: 70%;
  vertical-align: top;
}

.album-info-songs-wrapper h3:first-child {
  margin-top: 0;
}

.mini-artist {
  width: 188px;
  display: inline-block;
  height: 188px;
  margin: 10px 10px 150px;
}

.mini-artist p {
  text-align: center;
  margin-top: 8px;
}

.artistList a {
  color: black;
  text-decoration: none;
}

.artistList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  background-color: mistyrose;
}

.app-header {
  text-align: center;
  font-size: 49px;
  font-family: monospace;
}